# Byte-compiled / optimized / DLL files
__pycache__/
lightning_logs/
outputs/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
.DS_Store
/dataset
# /exp
/.claude
spm/input _bak.txt
tea_debug.log
vsr_trlrs3vox2_base.pth
/wandb

onstart.sh
ports.log
